body {
  font-family: monospace;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./images/login.jpg);
   background-size: cover;
   background-attachment: fixed;
 }
 .login{
  position: absolute;
  top: 40%;
  left: 49%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  font-family: monopage;
  font-size: 40px;
  font-weight: bold;
  
}
.register{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
color: #ffff;
font-family: monospace;
font-size: 40px;
font-weight: bold;
}
.logo{
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: calc(50% - 50px);
}
a{
  position: relative;
  padding: 12px 36px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  border-radius: 40px;
  background: linear-gradient(90deg,#0162c8,#55e7fc);
  
}

.loginbox{

     background-color: hsl(0, 0%, 100%);
     color: rgb(0, 0, 0);
     top: 50%;
     left: 50%;
     position: absolute;
     transform: translate(-50%,-50%);
     box-sizing: content-box;
     padding: 30px 30px;
 }

.registerbox{

  width: 300px;
  height: 600px;
  background-color: hsl(0, 0%, 100%);
  color: rgb(0, 0, 0);
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: content-box;
  padding: 30px 30px;
  
}

.input-box
{
  border: 0;
  border-bottom: 1px solid #918484;
  background-color: #f7f7f7;
  padding: 10px;
  margin: 1px 0;
  width: 90%;
  outline: none;
}

.searchbox{

  width: 400px;
  height: 20px;
  background-color: hsl(0, 0%, 100%);
  color: rgb(0, 0, 0);
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: content-box;
  padding: 30px 30px;
}

.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #7E017F;
  border: none;
  border-radius: 10px;
}
 
.error {
  width: 90%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #aa3230; 
  color: #ac3f3e; 
  background: #f5d7d7; 
  border-radius: 5px; 
  text-align: left;
}

.homepage{
  font-family: monospace;
  position: absolute;
  top: 6.5%;
  left: 10%;
  transform: translate(-50%,-50%);
  color: rgb(247, 247, 247);
  font-size: 35px;

}

.heading{
  font-family: monospace;
  position: absolute;
  top: 7%;
  left: 45%;
  transform: translate(-50%,-50%);
  color: rgb(247, 247, 247);
  font-size: 35px;

}

ul{
  position: absolute;
  top: 9%;
  left: 71%;
  transform: translate(-50%,-50%);
}
ul li{
  display: inline-block;
}
ul li a{
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border: 1px solid #fff;
}
ul li a:hover{
  background-color: #fff;
  color: #000;
}
ul li.active a{
  background-color: #fff;
  color: #000;
}

.center_content{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color:  rgb(255, 255, 255);
  font-family: monospace;
  font-size: 50px;
  font-weight: bold;
}

.search-position{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.search{
  border: 1px solid #918484;
  top: 35%;
  height: 40px;
  width: 300px;
  border-radius: 50px;
  padding: 0px 20px;
}
.comment-box {
	background: #F7F7F7;
	border: #e0dfdf 1px solid;
	padding: 20px;
	border-radius: 2px;
}

